body {
    background-color: rgb(20, 20, 20);
    margin: 0px;
    overflow: hidden;
}

header {
    color: rgb(190, 190, 190);
    font-size: 2.5rem;
    /*font-family: "Ibarra Real Nova", serif;*/
    font-family: monospace;
    position: absolute;
    top: 5%;
    left: 5%;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 400ms ease;
}

header > p {
    color: rgb(150, 150, 150);
    font-size: 1rem;
    /*font-family: "Ibarra Real Nova", serif;*/
    font-family: monospace;
    position: absolute;
    top: 50%;
    left: 0%;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 400ms ease;
}

#menu {
    height: 100vh;
    display: flex;
    align-items: center;
}

#menu-items {
    margin-left: clamp(4rem, 17vw, 48rem);
    position: relative;
    z-index: 2;
}

#menu-items:hover > .menu-item {
    opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
    opacity: 1;
}

.menu-item {
    color: rgb(225, 225, 225);
    font-size: clamp(3rem, 8vw, 5rem);
    /*font-family: "Ibarra Real Nova", serif;*/
    font-family: monospace;

    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 400ms ease;
}

#menu-background-pattern {
    height: 100vh;
    width: 100vw;

    /*background-image: radial-gradient(
        rgba(255, 255, 255, 0.1) 9%,
        transparent 9%
    );*/
    background-image: url(../media/images/inspiration-geometry.png);
    background-position: 0% 0%;
    background-size: 50vmin 50vmin;

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;

    transition: opacity 800ms ease, 
        background-size 800ms ease,
        background-position 800ms ease;
}

#menu-items:hover ~ #menu-background-pattern {
    background-size: 45vmin 45vmin;
    opacity: 0.5;
}

#menu[data-active-index="0"] > #menu-background-pattern {
    background-position: 0% -25%;
}

#menu[data-active-index="1"] > #menu-background-pattern {
    background-position: 0% -50%;
}

#menu[data-active-index="2"] > #menu-background-pattern {
    background-position: 0% -75%;
}

#menu[data-active-index="3"] > #menu-background-pattern {
    background-position: 0% -100%;
}

#menu[data-active-index="4"] > #menu-background-pattern {
    background-position: 0% -125%;
}

#menu-background-image {
    height: 100%;
    width: 100%;
    
    background-image: url(../media/images/IMG_6858.jpg);

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;

    background-position: 0% 65%;
    background-size: 300vmax;
    opacity: 0.15;

    transition: opacity 800ms ease,
        background-size 800ms ease,
        background-position 800ms ease;
}

#menu-items:hover ~ #menu-background-image {
    background-size: 270vmax;
    opacity: 0.10;
}

#menu[data-active-index="0"] > #menu-background-image {
    background-position: 0% 70%;
}

#menu[data-active-index="1"] > #menu-background-image {
    background-position: 0% 75%;
}

#menu[data-active-index="2"] > #menu-background-image {
    background-position: 0% 80%;
}

#menu[data-active-index="3"] > #menu-background-image {
    background-position: 0% 85%;
}

#menu[data-active-index="4"] > #menu-background-image {
    background-position: 0% 90%;
}