body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(19, 19, 19);
    margin: 0rem;
    overflow: hidden;
    padding: 0px;
}

#background-pattern {
    height: 100vh;
    width: 100vw;

    background-image: url(../media/images/inspiration-geometry.png);
    background-size: 45vmin 45vmin;

    position: absolute;
    background-position: 0% -50%;
    left: 0px;
    top: 0px;
    z-index: -5;
    opacity: 0.5;
    
    transition: opacity 800ms ease, 
        background-size 800ms ease,
        background-position 800ms ease;
}

#background-image {
    height: 100%;
    width: 100%;
    
    background-image: url(../media/images/IMG_6858.jpg);

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -10000;

    background-position: 0% 75%;
    background-size: 270vmax;
    opacity: 0.25;

    transition: opacity 800ms ease,
        background-size 800ms ease,
        background-position 800ms ease;
}

#arrow {
    z-index: 10000;
    position: absolute;
    top: 10%;
    left: 5%;
    max-width: 5%;
    max-height: 5%;
    fill: rgb(197, 197, 197);
}


/* partially taken (more like inspired) from this: https://codepen.io/Hyperplexed/pen/MWQeYLW */
#projects {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 922px;
    width: calc(100%-20px);
}

#github {
    width: 15%;
    left: 53%;
    top: 36%;
}

.project {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 7px;
    cursor: pointer;
    height: 260px;
    width: 300px;

    position: relative;
}

.project::before {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;

    border-radius: inherit;
    content: "";
    opacity: 0;
    transition: opacity 500ms;

    z-index: 2;
}

.project::before {
    z-index: 3;
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.1),
        transparent 40%
    );
}

.project:hover::before,
.project:hover > .border {
    opacity: 1;
}

.info {
    background-color: rgba(19, 19, 19, 0.5);
    position: relative;
    height: calc(100% - 2px);
    width: calc(100% - 2px);

    border-radius: inherit;
    margin: 1px;

    color: rgb(197, 197, 197);
    font-family: monospace;
}

.info > img {
    position: absolute;
    border-radius: 50%;
    width: 35%;
    top: 11%;
    left: 34%;
}

.info > h1 {
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 10%;
}

.info > p {
    position: absolute;
    top: 65%;
    left: 10%;
    width: 80%;
}

#projects:hover > #background-pattern {
    background-size: 40vmin 40vmin;
    opacity: 0.5;
}

#projects:hover > #background-image {
    background-size: 250vmax;
}

#projects[data-active-index="0"] > #background-pattern {
    background-position: -5% -25%;
}

#projects[data-active-index="1"] > #background-pattern {
    background-position: -15% -25%;
}

#projects[data-active-index="2"] > #background-pattern {
    background-position: -25% -25%;
}

#projects[data-active-index="3"] > #background-pattern {
    background-position: -5% -50%;
}

#projects[data-active-index="4"] > #background-pattern {
    background-position: -15% -50%;
}

#projects[data-active-index="5"] > #background-pattern {
    background-position: -25% -50%;
}



#projects[data-active-index="0"] > #background-image {
    background-position: 2.5% 70%;
}

#projects[data-active-index="1"] > #background-image {
    background-position: 5% 70%;
}

#projects[data-active-index="2"] > #background-image {
    background-position: 7.5% 70%;
}

#projects[data-active-index="3"] > #background-image {
    background-position: 2.5% 80%;
}

#projects[data-active-index="4"] > #background-image {
    background-position: 5% 80%;
}

#projects[data-active-index="5"] > #background-image {
    background-position: 7.5% 80%;
}